<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>hr.algebra.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/User/*</url-pattern>
        <url-pattern>/Checkout</url-pattern>
        <url-pattern>/cashOnDelivery</url-pattern>
        <url-pattern>/payPal</url-pattern>
        <url-pattern>/MyOrders</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProductServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.UserProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrdersServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.MyOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersServlet</servlet-name>
        <servlet-class>hr.algebra.servlet.Orders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProductServlet</servlet-name>
        <url-pattern>/UserProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrdersServlet</servlet-name>
        <url-pattern>/MyOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Security - admin</web-resource-name>
            <url-pattern>/Admin/*</url-pattern>
            <url-pattern>/showProduct</url-pattern>
            <url-pattern>/addProduct</url-pattern>
            <url-pattern>/deleteProduct</url-pattern>
            <url-pattern>/updateProduct</url-pattern>
            <url-pattern>/listProduct</url-pattern>
            <url-pattern>/showEditProduct</url-pattern>
            <url-pattern>/addCategory</url-pattern>
            <url-pattern>/deleteCategory</url-pattern>
            <url-pattern>/updateCategory</url-pattern>
            <url-pattern>/listCategory</url-pattern>
            <url-pattern>/showEditCategory</url-pattern>
            <url-pattern>/showOrders</url-pattern>
            <url-pattern>/showOrderByUser</url-pattern>
            <url-pattern>/showOrdersByDate</url-pattern>

            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Administratorska-domena</description>
            <role-name>admin-gui</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>admin-gui</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/Admin/adminLogin.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
